:root {
  --dominant-text-color: #000000;
  --title-text-color: #907e82;
  --primary-pink-color: #ffa5ba;
  --accent-red-color: #d41443;
  --accent-white-color: #ffffff;
  --accent-pink-color: #ffb8ca;
  --accent-beige-color: #f0d1a5;
  --accent-green-color: #c2e297;
  --pink-bg: #fff5f6;
  --light-bg: #e5e5e5;
  --main-font: 'DM Sans', sans-serif;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
