<header>
  <nav>
    <a class="link" href=""><img src="./images/logo.svg" alt="Лого Мороженое" /></a>
    <ul>
      <li><a class="link" href="">Home</a></li>
      <li><a class="link" href="">About us</a></li>
      <li><a class="link" href="">How it’s made?</a></li>
      <li><a class="link" href="">Our products</a></li>
      <li><a class="link" href="">Contact</a></li>
    </ul>
    <a class="link" href="">Buy now</a>
  </nav>

  <div>
    <div>
      <h1>ice cream made with passion</h1>
      <button class="btn">Products</button>
      <button>How it’s made?</button>
    </div>
    <div>
      <h2>16</h2>
      <p>cafes</p>
      <h2>23</h2>
      <p>food trucks</p>
    </div>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button class="btn"></button>
  </div>
</header>
